.sg__filter {
  display: inline-block;
  padding: 0 0.5rem;
  margin: 0;
  list-style: none;
}
.sg__filter li {
  display: inline-block;
}
.sg__filter li.active a {
  color: rgba(0, 0, 0, 0.5);
}
.sg__filter a {
  font-size: 1rem;
  padding: 0.5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
